

* {
  font-family: monospace;
  box-sizing: border-box;
  color: #16161D;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("https://images.alphacoders.com/135/thumb-1920-1356742.png");
}

.liquidglass {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

nav {
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
  top: 0;
  left: 0;
  padding: 50px 0;

  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 10px 30px;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 200px;
  height: auto;
  border-radius: 20px;
  border: 2px solid red;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1) rotateZ(-5deg);
  }
  50% {
    transform: scale(1.2) rotateZ(5deg);

  }
}

.amongus {
  font-size: 100px;
  font-weight: bold;
}